:root {
	--main-gray-color: #1C1C1C;
	--main-red-color: #D30504;
}



/*
* _____ PRESETS _____
*/
html {
	font-size: 1px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: inherit;
	color: inherit;
	display: inline-block;
}



/*
* _____ PAGE PROPERTIES _____
*/
.page {
	font-family: "Open sans", sans-serif;
	color: var(--main-green-color);
	background: var(--main-green-color);
	min-width: 320px;
	letter-spacing: 1rem;
	background: #1A1718;

	/* for now */
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	min-height: 475px;
}

/* container */
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}



/*
* _____ MAIN ELEMENTS _____
*/

/* === Logo === */
.logo {
	transition: width 0.3s;
}
.logo__img {
	width: 100%;
}


/* === Reservation === */
.reservation-btn {
	position: relative;
	z-index: 3;
	padding: 20px 30px;
	font-size: 16em;
	font-weight: bold;
	color: white;
	border: 1px solid white;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

/* animation */
.reservation-btn:after {
	content: '';
	position: absolute;
	z-index: -10;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: 0;
	height: 103%;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.reservation-btn:hover,
.reservation-btn:active {
	color: #750202;
}
.reservation-btn:hover:after {
	width: 90%;
	opacity: 1;
}
.reservation-btn:active:after {
	width: 101%;
	opacity: 1;
}



/*
* _____ FIRST _____
*/

/* === Section === */
.first {
	/*height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	min-height: 440px;*/
	height: 100%;
	position: relative;
}


/* === Background glide === */
.glide,
.glide__track,
.glide__slides,
.glide__slide {
	height: 100%;
}
.glide {
	position: absolute;
	/* No swipe */
	pointer-events: none;
}
.glide__img {
	background: var(--main-gray-color);
	object-fit: cover;
	width: 100%;
	height: 100%;
	filter: brightness(25%);
}
.glide__bullets {
	bottom: 25px;
	margin: auto;
}
.glide__bullet {
	border-radius: 0;
	height: 4px;
	width: 40px;
	background: rgba(255,255,255,0.4);
	pointer-events: auto;
}
.glide__bullet--active {
	background: white;
}


/* === Inner === */
.first__inner {
	position: relative;
	height: 100%;
	color: white;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
}


/* === Masthead === */
.masthead {
	position: absolute;
	top: 10px;
	right: 0;
	left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}


/* === Navigation === */
.navigation {
	display: none;
}


/* === Contacts === */
.contacts {
	margin: auto;
	margin-top: 15px;
	width: 286px;	
	transition: margin 0.3s;
}

/* address */
.contacts__address {
	font-size: 10.9em;
	font-weight: normal;
	text-transform: uppercase;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.contacts__address:hover {
	text-shadow: 0 0 6px white;
}

/* tel */
.contacts__fa {
	font-size: 0.8em;
	-webkit-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	transition: transform 0.3s;
}
.contacts__tel {
	font-size: 20em;
	margin-top: 8px;
}

/* animation */
.underline {
	position: relative;
	padding-bottom: 5px;
}
.underline:after {
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: #fff;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.contacts__tel:hover .underline:after,
.underline:hover:after {
	height: 3px;
	opacity: 1;
	background: var(--main-red-color);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.contacts__tel:active .contacts__fa {
	transform: rotate(-13deg);
}


/* === Content === */
.first__content {
	margin: auto;
}
.first__logo {
	width: 220px;
	margin: auto;
}
.first__title {
	margin-top: 15px;
	margin-bottom: 45px;
}
.first__heading {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 19.9em;
	font-weight: bold;
	margin: auto;
	letter-spacing: 0;
}
.first__inspiration {
	margin-top: 7px;
	padding-left: 5px;
	font-size: 14em;
	font-weight: 300;
	text-transform: uppercase;
}
.first__aim {
	color: var(--main-red-color);
}


/* === Media === */

/* decrease central content */
@media (max-height: 475px) {
	.first__logo {
		width: 150px;
	}
	.first__title {
		margin-top: 13px;
		margin-bottom: 20px;
	}
	.first__reservation-btn {
		padding: 10px 21px 11px;
		font-size: 14em;
		letter-spacing: 0.5rem;
	}
	.page {
		min-height: 275px;
	}
}
@media (max-height: 385px) {
	.glide__bullets {
		bottom: 15px;
	}
	.contacts {
		margin-top: 0;
	}
	.contacts__tel {
		margin-top: 4px;
		font-size: 16em;
	}
	.first__logo {
		width: 110px;
		margin-top: 5px;
	}
	.first__title {
		font-size: 0.9px;
		margin-top: 8px;
		margin-bottom: 15px;
	}
	.first__inspiration {
		margin-top: 4px;
	}
}


/* contacts text-align:right; */
/*@media (max-height: 385px) {
	.contacts {
		text-align: right;
	}
	
}*/

