.games {
  &__inner {
    @include container;
  }

  &__heading {
    @include heading_section;
  }

  &__list {
    display: grid;
    gap: 25rem;
    margin: 0 auto;
    padding: 5rem 0 65rem;
  }

  @include respond-above(sm) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include respond-above(lg) {
    &__list {
      gap: 35rem;
    }
  }
}