.calculator {
  grid-area: calculator;

  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;

  &__widget {
    --ad-block-el-height: 58px;

    position: relative;
    width: 100%;
    max-width: 433px;
    height: 100%;
    min-height: 993px;
    background: v(color-bg);
    margin-bottom: calc(var(--ad-block-el-height) * -1);

    /* Advertisement disabler */
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: v(ad-block-el-height);
      transform: scale(1.03);
      background: v(color-bg-light);
    }

    @media screen and (max-width: 400px),
      screen and (min-width: map-get($breakpoints, 'sm')) and (max-width: map-get($breakpoints, 'md')) {
      --ad-block-el-height: 83px;

      min-height: 1232px;
    }
  }
}
