.price-card {
  @include price-list-card;

  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 0.5fr 0.4fr 3fr;
  grid-template-areas:
    'heading heading'
    '....... players'
    'session prices';

  &_weekdays {
    grid-area: price-card_weekdays;
  }

  &_weekends {
    grid-area: price-card_weekends;
  }

  &__heading {
    grid-area: heading;

    text-align: left;
    margin-top: -8rem;
    margin-left: -3rem;
    text-transform: uppercase;
    color: v(color-primary);
    font-weight: 300;
    font-size: 1.2em;
  }

  &__players {
    grid-area: players;

    display: grid;
    gap: 15rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &__session {
    grid-area: session;

    display: grid;
    gap: 15rem;
    grid-template-rows: repeat(3, 1fr);
  }

  &__prices {
    grid-area: prices;

    display: grid;
    gap: 15rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'sm-1h md-1h lg-1h'
      'sm-2h md-2h lg-2h'
      'add-h add-h add-h';
  }

  &__price {
    padding-left: 3rem;
    border: 2rem solid v(color-primary);
    font-weight: lighter;
    line-height: 2.6em;
    transition: background 0.3s, font-weight 0.3s;
    font-size: 0.9em;

    &:hover,
    &:focus {
      background: v(color-bg-light);
      font-weight: bold;
    }

    &_sm-1h {
      grid-area: sm-1h;
    }
    &_md-1h {
      grid-area: md-1h;
    }
    &_lg-1h {
      grid-area: lg-1h;
    }
    &_sm-2h {
      grid-area: sm-2h;
    }
    &_md-2h {
      grid-area: md-2h;
    }
    &_lg-2h {
      grid-area: lg-2h;
    }
    &_add-hour {
      grid-area: add-h;
    }
  }

  @include respond-above(sm) {
    &__price {
      font-size: 0.95em;
    }
  }
}
