.schedule {
  grid-area: schedule;

  &__heading {
    padding-top: 2em;
    padding-bottom: 1.2em;
  }

  &__widget {
    --schedule-widget-height: 530rem;
    --schedule-widget-width: 290rem;

    position: relative;
    margin: 0 auto;
    height: v(schedule-widget-height);
    width: v(schedule-widget-width);
    background: v(color-bg);

    .bookform-widget-embedded__wrapper {
      height: v(schedule-widget-height);
      width: v(schedule-widget-width);
    }

    @include respond-above(xs) {
      --schedule-widget-width: 400rem;
    }
  }
}
