.we-can-more {
  &__content {
    @include container;
  }

  &__heading {
    @include heading_section;

    padding-top: 1.8em;
  }

  &__text {
    @include text-style;
    @include inner-container;

    padding-bottom: 40rem;
  }

  &__advantage {
    height: 60vw;
    min-height: 215px;
  }  

  @include respond-above(xs) {
    &__advantages {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &__advantage {
      height: 50vw;
    }
  }
  @include respond-above(md) {
    &__advantages {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }

    &__advantage {
      height: 25vw;
    }
  }
}
