@import '@/styles/abstracts.scss';

.price-section {
  position: relative;
}

.background-image {
  @include full-screen-bg(v(color-bg));

  // TODO: Move to variables
  filter: brightness(40%);

  img {
    object-fit: cover;
  }
}

.inner {
  padding-top: 60rem;
  padding-bottom: 150rem;
}

.heading {
  font-size: 2.1em;
  color: v(color-contrast);
  font-weight: 300;
  padding-top: 1.7em;
}

.per-person {
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 3em;
}

.plus-points {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  gap: 30rem;
}

@include respond-above(sm) {
  .per-person {
    padding-bottom: 2.5em;
  }

  .plus-points {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 40rem;
  }
}
