@import '../../../../../styles/abstracts.scss';

.price-list-card {
  background: v(color-bg);
  font-size: 0.9em;
  font-weight: bold;
  padding: 2em 1.9em;

  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 0.5fr 0.4fr 3fr;
  grid-template-areas:
    'heading heading'
    '....... players'
    'session prices';
}

.heading {
  grid-area: heading;

  text-align: left;
  margin-top: -8rem;
  margin-left: -3rem;
  text-transform: uppercase;
  color: v(color-primary);
  font-weight: 300;
  font-size: 1.2em;
}

.players {
  grid-area: players;

  display: grid;
  gap: 15rem;
  grid-template-columns: repeat(3, 1fr);
}

.session {
  grid-area: session;

  display: grid;
  gap: 15rem;
  grid-template-rows: repeat(3, 1fr);
}

.prices {
  grid-area: prices;

  display: grid;
  gap: 15rem;
  grid-template-rows: repeat(3, 1fr);

  &-row {
    display: grid;
    gap: 15rem;

    &_3 {
      grid-template-columns: 3fr;
    }

    &_2_1 {
      grid-template-columns: 2fr 1fr;
    }

    &_1_2 {
      grid-template-columns: 1fr 2fr;
    }

    &_1_1_1 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.price-element {
  padding-left: 3rem;
  border: 2rem solid v(color-primary);
  font-weight: lighter;
  line-height: 2.6em;
  transition: background 0.3s, font-weight 0.3s;
  font-size: 0.9em;

  &:hover,
  &:focus {
    background: v(color-bg-light);
    font-weight: bold;
  }
}

@include respond-above(sm) {
  .price {
    font-size: 0.95em;
  }
}
