.navigation {
  @include respond-above(sm) {
    display: flex;
    justify-content: space-between;

    &__link {
      padding: 0 0.2em;
      margin: 0 0.4em;
      
      @include init-underline;
    }
  }
}