.reservation-btn {
  $btn-clr: v(white-clr);

  z-index: 3;
  font-size: 14rem;
  padding: 0.85em 1.3em 0.88em;
  font-weight: bold;
  letter-spacing: 0.5rem;
  border: 2rem solid $btn-clr;
  color: $btn-clr;

  @include btn-interactive($btn-clr);

  @include respond-above(xs) {
    font-size: 16rem;
  }
}