.swipe-arrow {
  display: none;
  
  @include respond-above(sm) {
    display: flex;
    cursor: pointer;
    transition: background 0.7s;
  
    &_left {
      grid-area: swipe-arrow_left;
    }

    &_right {
      grid-area: swipe-arrow_right;
    }

    &__icon {
      margin: auto;
      pointer-events: none;
      width: 40rem;
      height: 40rem;
      opacity: 0.25;
      transition: opacity 0.5s;

      .swipe-arrow:hover &,
      .swipe-arrow:focus & {
        opacity: 1;
      }
    }

    &:hover,
    &:focus {
      background: rgba(255, 255, 255, 0.03);
    }
  }
}