.arrow-to-down {
  &__btn {
    transition: filter 0.4s;
    animation: moveUpAndDown 1s infinite alternate;
    filter: brightness(10);

    &:hover,
    &:focus {
      filter: brightness(1);
    }
  }

  &__icon {
    height: 36rem;
    width: 44rem;
  }

  @media (max-height: v-get(first-height-breakpoint)) {
    .arrow-to-down__icon {
      height: 26rem;
      width: 34rem;
    }
  }
}
    