@import '../../../../../styles/abstracts.scss';

.heading {
  padding-top: 2em;
  padding-bottom: 1.2em;
}

.container {
  --schedule-widget-height: 530rem;
  --schedule-widget-width: 290rem;

  position: relative;
  margin: 0 auto;
  height: v(schedule-widget-height);
  width: v(schedule-widget-width);
  background: v(color-bg);

  > div {
    height: v(schedule-widget-height);
    width: v(schedule-widget-width);
  }

  @include respond-above(xs) {
    --schedule-widget-width: 400rem;
  }

  @include respond-between(xs, md) {
    --schedule-widget-height: 678rem;
  }

  @include respond-above(md) {
    --schedule-widget-width: 628rem;
  }
}
