@import '../../styles/abstracts.scss';

.container {
  max-width: v(max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: $side-size;
  padding-right: $side-size;
  width: 100%;

  @each $breakpoint, $value in $breakpoints {
    @include respond-above($breakpoint) {
      padding-left: $side-size;
      padding-right: $side-size;
      width: calc(#{$value} - 2 * #{$side-size});
    }
  }
}

.inner-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @each $breakpoint, $value in $breakpoints {
    @include respond-above($breakpoint) {
      width: calc(#{$value} / 3 * 2);
    }
  }
}
