@import '../../../../../styles/abstracts.scss';

.card {
  position: absolute;
  z-index: 2;
  color: v(color-contrast);
  background: v(color-bg);
  border: 3rem solid v(color-primary);
  width: 320px;
  margin: 0 auto;

  @include respond-below(sm) {
    right: -282px;
    transform: rotate(-90deg);
    transition: all 0.2s cubic-bezier(0.01, 0.96, 0.25, 0.94);

    &.active {
      right: 0;
      left: 0;
      transform: none;
    }
  }

  @include respond-above(sm) {
    margin-left: 200rem;
    margin-right: 0;
  }

  @include respond-above(md) {
    margin-left: 300rem;
  }
}

.heading {
  font-size: 28rem;
  background: v(color-primary);
  margin: 4rem;
  color: v(color-bg);
  height: 2em;
  line-height: 2em;
}

.list {
  padding: 10rem 13rem;
}

.type {
  text-shadow: none;
  font-size: 22rem;
  padding: 0;
}

.link {
  font-size: 16rem;
  padding-top: 6rem;
  padding-bottom: 1em;
  transition: all 0.4s;

  &:hover,
  &:focus {
    text-shadow: 0 0 7rem v(color-contrast);
  }
}

.socials {
  display: flex;
  height: 40rem;
  margin: 13rem auto 10rem;
  justify-content: center;
}

.social {
  width: 40rem;
  height: 40rem;
  margin-right: 10rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;

  transition: background 0.25s;

  &:hover,
  &:focus {
    background: v(color-contrast);
  }
}

.social-icon {
  height: 100%;
  width: 100%;
  fill: v(color-contrast);

  transition: fill 0.25s;

  .social:hover &,
  .social:focus & {
    fill: v(color-primary);
  }
}

.reservation {
  padding: 12rem 13rem;
  font-weight: bold;
  font-size: 14rem;
  color: v(color-bg);
  text-transform: uppercase;
  background: v(color-contrast);
  border-radius: 20rem;

  transition: all 0.25s;

  &:hover,
  &:focus {
    background: v(color-primary);
    color: v(color-contrast);
  }
}
