.how-to-find {
  background: v(bg-page-clr);
  font-size: 1.1em;
  text-transform: uppercase;
  color: v(white-clr);

  &__lable {
    font-weight: 300;
    padding: 1.25em 0 1.25em;
  }

  &__route {
    background: v(white-clr);
    overflow: hidden;
    margin-left: 5em;

    &-link {
      position: relative;
      color: v(bg-page-clr);
      font-weight: bold;
      padding: 1.2em 0 2.4em;
      width: 100%;
      transition: transform 0.25s ease-in-out;

      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'icomoon', serif;
        content: '\e900';
        position: absolute;
        bottom: 100%;
        width: 100%;
        height: 100%;
        font-size: 2.5em;
      }

      &:hover,
      &:focus {
        transform: translateY(100%);
      }
    }
  }

  &__caption {
    content: 'подробный';
    display: block;
    text-transform: none;
    font-size: 0.94em;
    margin-bottom: 0.1em;
    font-weight: 300;
  }

  @include respond-above(xs) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__lable {
      width: 65%;
      padding: 0;
      margin-right: 2em;
      text-align: right;
    }

    &__route {
      width: 35%;
      margin: 0;

      &-link {
        padding: 1.4em 0 2.4em 2.6em;
        text-align: left;

        &::before {
          $smth: 46.8rem;

          justify-content: flex-start;
          width: calc(100% + #{$smth});
          transform: translateX(-#{$smth});
          padding-left: calc(#{$smth} + 20rem);
        }
      }
    }
  }
}
