@import '../../../styles/abstracts.scss';

.section {
  background: v(color-bg);
}

.games-list {
  display: grid;
  gap: 25rem;
  margin: 0 auto;
  padding: 5rem 0 65rem;

  @include respond-above(sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond-above(lg) {
    gap: 35rem;
  }
}
