@import '@/styles/abstracts.scss';

.privacy-policy-button {
  transition: text-shadow 0.3s;

  &:hover,
  &:focus {
    text-shadow: 0 0 7rem v(color-contrast);
  }
}

.privacy-policy-modal {
  overflow: auto;
  background: var(--color-bg);
  font-size: 14rem;
  padding: 3em;
  line-height: 1.2em;
  height: 70vh;
  width: 80vw;
  text-align: left;
}
