@import '@/styles/abstracts.scss';

.container {
  --btn-clr: var(--color-contrast);

  display: block;
  border: 2rem solid v(btn-clr);
  color: v(btn-clr);
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 0.6em 1em;
  border-radius: 1em;

  &:hover,
  &:focus {
    --btn-clr: var(--color-primary);
  }

  &:active {
    --btn-clr: var(--color-primary-dark);
  }
}
