// Use v(bg-color) to get var(--bg-color)
// Use v-get(bg-color) to get $bg-color
// Use v-init to initialize css variables
$v-globals: (

  /// Regular font family
  text-font-stack: ('Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif),
  
  /// Code (monospace) font family
  code-font-stack: ('Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace),
  
  
  /// Base font size
  base-font-size: 16rem,
  
  
  /// Colors
  red-color: #f8473a,
  soft-red: rgb(244, 67, 54),
  bg-page-color: #211b1b,
  second-gray-color: #2c2424,
  soft-orange-color: #f9da84,
  

  /// Container's minimum width
  min-width: 320px,
  max-width: 1180px,
  min-height: 750px

) !default;
