@import '../../../../../styles/abstracts.scss';

.arrow-to-down {
  padding: 15rem 0;
  margin: 0 auto;
}

.button {
  transition: filter 0.4s;
  animation: moveUpAndDown 1s infinite alternate;
  filter: brightness(10);

  &:hover,
  &:focus {
    filter: brightness(1);
  }
}

.icon {
  height: 36rem;
  width: 44rem;
}

@media (max-height: v-get(first-height-breakpoint)) {
  .arrow-to-down {
    padding-bottom: 12rem;
  }
  .icon {
    height: 26rem;
    width: 34rem;
  }
}
