@import '../../../../../styles/abstracts.scss';

.wrapper {
  background: v(color-bg);
  font-size: 0.9em;
  font-weight: bold;
  padding: 1.5em 1.9em;
}

.heading {
  padding-top: 3px;
  padding-bottom: 20px;
}

.sub-heading {
  text-transform: uppercase;
  color: v(color-primary);
  font-weight: 300;
  font-size: 1.2em;
  text-align: left;

  padding-bottom: 10px;
}

.prices {
  display: flex;
  margin-bottom: 16px;
}

.price-element-outer {
  display: block;
  flex-grow: 1;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.time {
  padding-top: 5px;
  padding-bottom: 21px;
  font-weight: normal;
}

.details {
  margin-top: 6px;
  font-weight: normal;
}

.price-element {
  position: relative;
  border: 3rem solid v(color-primary);
  font-weight: bold;
  height: 100rem;
  padding: 0;

  transition: background 0.3s, font-weight 0.3s;

  &:hover,
  &:focus {
    background: v(color-bg-light);
    font-weight: bold;
  }
}

.price {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 9px;
  font-size: 1.4em;
  font-weight: normal;
  display: flex;
}

.price-icon {
  margin-left: 3px;
  margin-top: 1px;
}

.session {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px 8px;
  font-size: 2em;
}
